<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>十年漫威限定 超夯鋼鐵人戰衣「我是鋼鐵人」─ 鋼鐵人十年致敬T恤！敬鋼鐵人，敬道尼，愛你三千遍！！</title>
    <meta name="description" content="十年漫威限定 超夯鋼鐵人戰衣「我是鋼鐵人」─ 鋼鐵人十年致敬T恤！敬鋼鐵人，敬道尼，愛你三千遍！！">
    <meta name="keywords" content="十年漫威限定 超夯鋼鐵人戰衣「我是鋼鐵人」─ 鋼鐵人十年致敬T恤！敬鋼鐵人，敬道尼，愛你三千遍！！">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/index.min.css">
    <link rel="stylesheet" href="./css/banner.min.css">
    <link rel="stylesheet" href="./css/layer.css">
    <script src="./js/jquery-1.10.1.min.js"></script>
</head>
<body>
<div id="app">
    <div class="main_header">
        <nav class="nav">

            <a href="javascript:void(0)"><i class="back"></i></a>

        </nav>
        <div class="main_title">{{shopDetail.singleTitle}}</div>
        <nav class="nav am-fr">
            <a> </a>
        </nav>
    </div>
    <div class="main_content">
        <div id="home_slider">
            <img :src="headImg">
            <!--<section class="banner_slider">-->
                <!--<div>-->
                    <!--<ul class="banerList">-->
                        <!--<li><a href="javascript:;"><img src="http://ka.ikallc.com/uploads/graph/b4750aa45040f72804919edb87949def.jpg"></a></li>-->
                        <!--<li><a href="javascript:;"><img src="http://ka.ikallc.com/uploads/graph/b4750aa45040f72804919edb87949def.jpg"></a></li>-->


                        <!--&lt;!&ndash;<li><a href="javascript:;"><img&ndash;&gt;-->
                                <!--&lt;!&ndash;src="http://cdn.seezt.cc/uploadimages/20195/B3u-pBi8En6dazIekP6nVGZek.gif"></a></li>&ndash;&gt;-->

                        <!--&lt;!&ndash;<li><a href="javascript:;"><img&ndash;&gt;-->
                                <!--&lt;!&ndash;src="http://cdn.seezt.cc/uploadimages/20195/B5i3OOXCbrKPClCJdYhN0Y8cF.jpg"></a></li>&ndash;&gt;-->


                        <!--&lt;!&ndash;<li><a href="javascript:;"><img&ndash;&gt;-->
                                <!--&lt;!&ndash;src="http://cdn.seezt.cc/uploadimages/20195/B3u-pBi8En6dazIekP6nVGZek.gif"></a>&ndash;&gt;-->

                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--</ul>-->
                    <!--<ul>-->
                        <!--<li></li>-->
                        <!--<li></li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div class="prev"></div>-->
                <!--<div class="next"></div>-->
            <!--</section>-->
            <div class="marquee-wrapper">
                <ul id="marqueeContainer" class="marquee-style-1"></ul>
            </div>
        </div>
        <div class="goodsInfo">
            <div class="sitename">{{shopDetail.singleTitle}}</div>
            <div class="pricebar">
                <div class="subleft avil">
                    <div class="goodsprice">
                        {{shopDetail.currencyCode}}<strong class="small">{{shopDetail.promotionPrice}}</strong>
                    </div>
                    <div class="information">
                        <div class="oprice">
                            <del>{{shopDetail.currencyCode}} {{shopDetail.originalPrice}}</del>
                        </div>
                    </div>
                </div>



                <span class="soldcount">
                <span style="width: 20%;text-align: center">銷量</span>
                <span class="process_box">
                    <span class="process_color"></span>
                </span>
                <span style="width: 20%;">
                    <span class="count">{{shopDetail.buyers}}</span>件
                </span>
            </span>
            </div>
        </div>
        <div class="nav_temp"></div>
        <div class="item-info"><h1></h1>
        </div>
    </div>
    <div class="cart-box-fixed">
        <div class="action-btn">
            <a class="btn btn-danger go-buy" @click="scrollBuy">立即購買</a>
        </div>
    </div>
    <div id="goodsbody" class="view_panel_hd">
        <ul class="tab_nav">
            <li class="info active">商品介紹</li>
        </ul>
    </div>
    <div class="view_panel_bd" id="body_box" style="padding: 0 10px 0 10px;">
        <div v-html="shopDetail.product_introduction"></div>
    </div>
    <div class="shop_attr">
        <div class="view_panel_hd" id="buy">訂單商品</div>
        <!--<div class="shop_img">-->
            <!--<img :src="selectedShopImg">-->
        <!--</div>-->
        <div class="spec_Groups">
            <div class="spec_List option1" style="padding: 0 10px;">
                <div class="option_Item opt2" :class="{'active':item.name == submitShopDetail.name}" v-for="item in shopData.many_off" @click="chooseType(item)">{{item.name}}</div>
                <!--<div class="option_Item opt2">啊哈哈</div>-->
            </div>
            <div v-if="shopData && shopData.attr1 && shopData.attr1.name && shopData.attr1.attr.length > 0">
                <div class="product_item" v-for="(count,index) in submitShopDetail.attr" :key = "index">
                    <div class="spec_Title">{{index+1}}件{{shopData && shopData.attr1.name}}</div>
                    <!--<div class="spec_List option1">-->
                        <!--<div class="option_Item opt2" :class="{'active':item.val == submitShopDetail.attr1}" v-for="item in shopData.attr1.attr" @click="chooseAttr1(item)">{{item.val}}</div>-->
                    <!--</div>-->
                    <div class="spec_List user-name">
                        <div class="spec_Item opt1" :class="{'active':item.val == submitShopDetail.attr[index].attr1}" @click="chooseAttr1(item,index)" v-for="item in shopData.attr1.attr">
                            <div class="sticky"></div>
                            <img :src="global_url + item.img.replace(/uploads/g,'')">
                            <span>{{item.val}}</span>
                        </div>
                    </div>
                    <div class="spec_Title">{{index+1}}件{{shopData && shopData.attr2.name}}</div>
                    <div class="spec_List option1" v-if="shopData && shopData.attr2 && shopData.attr2.values.length > 0">
                        <div class="option_Item opt2" :class="{'active':item == submitShopDetail.attr[index].attr2}" v-for="item in shopData.attr2.values" @click="chooseAttr2(item,index)">{{item}}</div>
                    </div>
                </div>
            </div>
            <div class="spec_Title"><span>金額</span><span class="price">NT {{shopDetail.promotionPrice}}</span></div>
            <div class="spec_Title"><span>合計</span><span class="price">NT {{submitShopDetail.price}}</span></div>
        </div>
        <div class="order_info">
            <form id="user_form" class="am-form">
                <div class="am-form-group" style="margin-left:20.5%;padding:5px 4% 5px 0;color:#f86161;">
                    <span></span>
                </div>
                <div class="am-form-group">
                    <label for="clientname" class="clientname"></label>
                    <div>
                        <input v-model="submitShopDetail.consignee" type="text" id="clientname" placeholder="收貨人（必填）">
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="clientphone" class="clientphone"></label>
                    <div>
                        <input v-model="submitShopDetail.tel" type="text" id="clientphone" placeholder="聯絡電話（必填）">
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="number" class="clientzipcode"></label>
                    <div class="num_box">
                        <span class="jian" @click="reduce">-</span><input v-model="submitShopDetail.orderNum" type="number" id="number" placeholder="订购数量"><span class="jia" @click="add">+</span>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="city" class="province"></label>
                    <div>
                        <select v-model="selectedCityObj" class="select" id="city" @change="changeCity">
                            <option disabled selected="selected" value="-1" >城市</option>
                            <option v-for="item in cityList" :key="item.id" :value="item">{{item.city}}</option>
                        </select>
                        <select v-model="area" class="select" id="area">
                            <option v-for="item in selectedCityObj.area" :key="item.area" :value="item.area">{{item.area}}</option>
                        </select>
                    </div>
                </div>
                <div class="am-form-group hide" id="twroad">
                    <label class="clientaddress"></label>
                    <div>
                        <select class="select" id="selectroad"></select>
                    </div>
                </div>


                <div class="am-form-group" id="address_div">
                    <label for="clientaddress" class="clientaddress"></label>
                    <div>
                        <textarea v-model="submitShopDetail.addressDetail" id="clientaddress" placeholder="地址（必填）"></textarea>
                    </div>
                </div>

                <div class="am-form-group" id="zipcode_div">
                    <label for="clientzipcode" class="clientzipcode"></label>
                    <div>
                       <input v-model="submitShopDetail.postcodes" type="text" class="select" id="clientzipcode" placeholder="邮编">
                    </div>
                </div>


                <div class="am-form-group">
                    <label for="clientemail" class="clientemail"></label>
                    <div>
                        <input type="email" v-model="submitShopDetail.email" id="clientemail" placeholder="E-Mail(必填)">
                    </div>
                </div>
                <div class="am-form-group" style="display: none;">
                    <label for="clientdispatchtime" class="clientdispatchtime">收货时间</label>
                    <div>
                        <select id="clientdispatchtime">
                            <option value="任何时间">任何时间</option>
                            <option value="工作日">工作日</option>
                            <option value="休息日">休息日</option>
                            <option value="其他时间">其他时间(请备注)</option>
                        </select>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="clientotherinfo" class="clientotherinfo"></label>
                    <div>
                        <textarea v-model="submitShopDetail.tips" id="clientotherinfo" placeholder="備註:其他要求請備註"></textarea>
                    </div>
                </div>
                <div class="am-form-group">
                    <label class="payment_method"></label>
                    <div id="payment_method">
                        <label class="radio">
                            <span class="radio-bg"></span>
                            <input type="radio" name="payment" value="0" checked/> 貨到付款
                            <span class="radio-on"></span>
                        </label>
                    </div>
                </div>
                <p id="postage" style="text-align: center;color: red"></p>
                <div class="spec_Btns">
                    <a href="javascript:;" class="btn btn-danger" id="tijiao" @click="submit">立即結算</a>
                </div>
            </form>
        </div>

    </div>
    <!--<div class="view_panel_hd" id="buy" style="padding-top:40px;">訂單商品</div>-->
    <div class="am-popup" id="successWin">
        <div class="popup_bg" onclick="hide_successwin();"></div>
        <div class="popup_content">
            <span class="closeBtn" onclick="$(this).parent().parent().hide();location.reload();"></span>
            <div class="main_title am-text-center am-text-xl am-text-success">
                <em class="ok">&nbsp;</em>下單成功，我們將儘快爲您配送！
            </div>
            <div class="main_orderinfo">
                <div>訂單號：<span class="am-text-danger" id="orderid"></span></div>
                <div>實付金額：<span id="orderprice"></span></div>
                <div>收貨人：<span id="order_clientname"></span></div>
                <div>聯絡電話：<span id="order_clientphone"></span></div>
                <div>地　址：<span id="order_clientaddress"></span></div>
                <div>商品详情：<span id="order_buygoods"></span></div>
            </div>
            <div class="continue">

                <a href="javascript:location.reload()">繼續瀏覽</a>

            </div>

        </div>
    </div>
    <div id="fb-root"></div>
</div>

<!--<script src="js/banner.min.js" crossorigin="anonymous"></script>-->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="./js/layer.js"></script>
<script src="./js/NT.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data () {
            return {
                shopData: {},
                shopDetail: {},
                shopTemplate: {},
                headImg: '',
                global_url: 'http://ka.ikallc.com/storage/',
                selectedShopImg: '',
                cityList: '',
                areaList: '',
                area: '',
                selectedCityObj:{},
                product_id: '',
                submitShopDetail: {
                    name: '',
                    number: '',
                    price: 0,
                    many_off: '',
                    attr: [],
                    consignee: '',
                    tel: '',
                    address: '',
                    addressDetail: '',
                    postcodes: '',
                    email: '',
                    tips: '',
                    submitFlag: true,
                    orderNum: ''
                }
            }
        },
        created () {
            this.cityList = cityList
            var id = this.getRequest(window.location.href).id
            this.product_id = id
            this.getData()
        },
        watch : {

        },
        methods: {
            add() {
                if(this.submitShopDetail.orderNum){
                    this.submitShopDetail.orderNum ++
                }else{
                    this.submitShopDetail.orderNum = 1
                }
            },
            reduce () {
                if(this.submitShopDetail.orderNum>1){
                    this.submitShopDetail.orderNum --
                }else{
                    this.submitShopDetail.orderNum = 1
                }
            },
            getRequest() {
                var url = location.search; //获取url中"?"符后的字串
                var theRequest = new Object();
                if (url.indexOf("?") != -1) {
                    var str = url.substr(1);
                    strs = str.split("&");
                    for(var i = 0; i < strs.length; i ++) {
                        theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
                    }
                }
                return theRequest;
            },
            submit() {
                var submitData = this.submitShopDetail
                var option1 = this.shopData.attr1.name
                var option2 = this.shopData.attr2.name
                var flag = false
                submitData.attr.forEach((item,index) =>{
                    if(!item.attr1){
                        this.show_msg('第'+ (index+1) +'商品' +option1 +'未选择')
                        flag = true
                        return
                    }else if(!item.attr2){
                        this.show_msg('第'+ (index+1) +'商品' +option2 +'未选择')
                        flag = true
                        return
                    }
                })
                if(flag){
                    return
                }
                if(!submitData.consignee){
                    this.show_msg('请选择收货人')
                    return
                }
                if(!submitData.tel){
                    this.show_msg('请选择联系电话')
                    return
                }
                if(submitData.tel.length<10 || !(/^09(\d){8}$/.test(submitData.tel))){
                    this.show_msg('无效的手机号码')
                    return
                }
                if(!submitData.orderNum){
                    this.show_msg('请输入订购数量')
                    return
                }
                if(!(/^[1-9]\d*$/.test(submitData.orderNum))){
                    this.show_msg('订购数量输入有误')
                    return
                }
                if(!this.area){
                    this.show_msg('请选择城市')
                    return
                }
                if(!submitData.addressDetail){
                    this.show_msg('请填写详细地址')
                    return
                }
                if(!submitData.postcodes){
                    this.show_msg('请填写邮政编码')
                    return
                }
                if(!(/^(\d){3,6}$/.test(submitData.email))){
                    this.show_msg('邮政编码输入有误')
                    return
                }
                console.log(submitData)
                console.log(submitData)
                var attribute = []
                submitData.attr.forEach((item,index) => {
                    attribute.push([
                        {
                            name: option1,
                            value: item.attr1
                        },
                        {
                            name: option2,
                            value: item.attr2
                        }
                    ])
                })
                var self = this
                $.ajax({
                    type: "post",
                    headers: {
                        Accept: "application/json; charset=utf-8",
                    },
                    url: 'https://ka.ikallc.com/api/createOrder2',
                    data: {
                        country: this.shopData.country.country,
                        product: this.name,
                        product_id: this.product_id,
                        attribute: JSON.stringify(attribute),
                        num: submitData.orderNum,
                        price: submitData.price,
                        name: submitData.consignee,
                        mob: submitData.tel,
                        code: submitData.postcodes,
                        province: '',
                        city: this.selectedCityObj.city,
                        area: this.area,
                        address: submitData.addressDetail,
                        guest: submitData.tips,
                        pay: 'cod'
                    },
                    // dataType: "jsonp",
                    success (res) {
                        if(res.code == 200){
                            self.show_msg('订购成功')
                        }else{
                            self.show_msg('订购失败')
                        }
                    }
                })
            },
            changeCity () {
                this.area = ''
            },
            show_msg (info, time) {
                if (typeof layer.tab === "function") {
                    layer.msg(info)
                } else {
                    layer.open({content: info, skin: "msg", time: time || 2})
                }
            },
            chooseType (item) {
                this.submitShopDetail.price = item.price
                this.submitShopDetail.name = item.name
                console.log(this.submitShopDetail.number)
                this.submitShopDetail.number = item.sale_count
                var len = this.submitShopDetail.attr.length
                if(item.sale_count>len){
                    var count = item.sale_count - len
                    for(var i=1;i<=count;i++){
                        this.submitShopDetail.attr.push({
                            attr1: '',
                            attr2: ''
                        })
                    }
                }else if(item.sale_count < len){
                    this.submitShopDetail.attr.splice(item.sale_count,len - item.sale_count)
                }
            },
            scrollBuy () {
                document.getElementById("buy").scrollIntoView(true)
            },
            chooseAttr1(item,index) {
                // this.submitShopDetail.attr1 = item.val
                this.submitShopDetail.attr[index].attr1 = item.val
            },
            chooseAttr2 (item,index) {
                this.submitShopDetail.attr[index].attr2 = item
            },
            getData () {
                var self = this
                $.ajax({
                    type: "get",
                    headers: {
                        Accept: "application/json; charset=utf-8",
                    },
                    url: 'https://ka.ikallc.com/shop/' + this.product_id,
                    // dataType: "jsonp",
                    success (res) {
                        self.shopData = res
                        self.shopDetail = res.detail
                        self.shopTemplate = res.template
                        self.headImg = 'http://ka.ikallc.com/uploads/'+ res.detail.masterGraph
                        console.log(self.shopData)
                        // self.submitShopDetail.number = res.many_off[0].sale_count
                        // self.submitShopDetail.price = res.many_off[0].price
                        // self.submitShopDetail.name = res.many_off[0].name
                        self.chooseType(res.many_off[0])
                        self.selectedShopImg =self.global_url + res.attr1.attr[0].img.replace(/uploads/g,'')
                    }
                })
            },

        },
        mounted () {
            function throttle(func, wait) {
                var lastTime = null;
                var timeout;
                return function () {
                    var context = this;
                    var now = new Date;
                    if (now - lastTime - wait > 0) {
                        if (timeout) {
                            clearTimeout(timeout);
                            timeout = null
                        }
                        func.apply(context, arguments);
                        lastTime = now
                    } else if (!timeout) {
                        timeout = setTimeout(function () {
                            func.apply(context, arguments)
                        }, wait)
                    }
                }
            }
            function check_top() {
                var spec_Btns = $("#buy");
                if (spec_Btns.offset()) {
                    var ele_top = spec_Btns.offset().top;
                    var top = (window.innerHeight ? window.innerHeight : $(window).height()) + $(window).scrollTop();
                    if (top >= ele_top) {
                        $(".cart-box-fixed").hide()
                    } else {
                        $(".cart-box-fixed").show()
                    }
                }
            }
            if ($("#buy").length) {
                var throttleRun = throttle(check_top, 400);
                window.addEventListener("scroll", throttleRun)
            }
        }
    })
</script>
</body>
</html>